@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* --- Custom properties --- */

:root {
    /* ------ Fonts ------ */
    --primary-font:  "Poppins", sans-serif;

    /* ------ Borders ------ */
    --radius-1: 16px;
    --radius-2: 8px;
    --radius-3: 4px;

    /* ------ colors ------ */
    /* menu knoppen */
    --menu-1: #3F92B6;
    --menu-2: #599AE7;
    --menu-3: #954BE2;
    --menu-4: #06A192;
    --menu-5: #FD8C73;

    /* Methods */
    --method-1: #1CB854;
    --method-2: #37C6AB;
    --method-3: #059CC0;
    --method-4: #FF8C59;
    --method-5: #FFA02E;

    /* Menu layover */
    --menu-layover: #292929F2;

    /* Backgrounds */
    --menu-background: linear-gradient(0deg, rgba(28,88,114,1) 0%, rgba(63,147,183,1) 100%);
    --story-nightmode-background: linear-gradient(0deg, rgba(71,24,113,1) 0%, rgba(4,4,4,1) 100%);
    --lessons-background: linear-gradient(0deg, rgba(20,33,81,1) 0%, rgba(71,24,113,1) 100%);
}

/* --- Navigatie menu --- */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--menu-layover);
    position: fixed;
    top: -100%;
    width: 100%;
    transition: 0.25s ease-in-out;

    ul {
        display: grid;
        grid-template-columns: auto auto;
        gap: 3rem;

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > a {
                display: inline-block;
                padding: 1.5rem;
                border-radius: var(--radius-1);
                margin-bottom: 0.25rem;
            }

            > p {
                font: 400 1rem var(--primary-font);
                color: white;
            }
        }
    }
}

.menu-open {
    top: 0rem;
}

.menu-button {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    appearance: none;
    border: none;
    padding: 0.75rem;
    border-radius: var(--radius-1);
    cursor: pointer;
}

.menu-button.menu {
    background: white;
    display: none;
}

.menu-button.home {
    background: var(--menu-layover);
}

.hidden {
    display: none;
}

.menu li:first-child a {
    background: var(--menu-1)
}

.menu li:nth-child(2) a {
    background: var(--menu-2);
}

.menu li:nth-child(3) a {
    background: var(--menu-3);
}

.menu li:nth-child(4) a {
    background: var(--menu-4);
}

.menu li:nth-child(5) a {
    background: var(--menu-5);
}


/* --- Algemene styling --- */

h1, h2 {
    color: white;
    font-weight: 600;
}

h1 {
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-size: 28px;
    text-align: center;
}

h2 {
    font-size: 20px;
    margin-bottom: 2rem;
}

h3 {
    font-size: 14px;
}

li {
    list-style: none;
}

button {
    appearance: none;
    border: none;
    cursor: pointer;
    background: none;
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
}

section {
    margin: 0 0.75rem 0 0.75rem;
}

main.lessons {
    background: var(--lessons-background);
    font-family: var(--primary-font);

    .playlist {
        width: 136px;
        height: 189px;
    
        a {
            display: inline-block;
            background: white;
            border-radius: var(--radius-2);
    
            figure {
                margin: 0.25rem;
    
                img {
                    width: 100%;
                    height: 95px;
                    object-fit: cover;
                    border-radius: var(--radius-2);
                }
    
                figcaption {
                    font-size: 16px;
                    font-weight: 600;
                }
            }
        }
        .audio-container {
            display: flex;
        }
    }

    .story {
        display: flex;
        background: white;
        border-radius: var(--radius-3);
        margin-bottom: 1rem;

        img:first-of-type {
            width: 5rem;
            height: 5rem;
            object-fit: cover;
        }

        img:nth-of-type(2) {
            width: 1.5rem;
            height: 2.5rem;
            border-radius: var(--radius-2);
        }

        p {
            font-size: 13px;
        }
    }

    section.activity {
        margin-bottom: 2rem;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            overflow: hidden;
            gap: 1.5rem;
    
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.25rem 1rem;
                border-radius: var(--radius-2);
                background:#139943;
                color: white;
            }
        }
    }

    section.own-playlists {
        margin-bottom: 2rem;

        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
            justify-content: center;
            gap: 1rem;
        }

        .add-playlist-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: auto;
            background: #494375;
            border-radius: var(--radius-2);

            button {
                height: auto;

                span {
                    color: white;
                }
            }
        }
    }

    section.stories {

        div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;

             div {
                margin-bottom: 0;

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0.25rem;
                    margin-right: 1rem;
                    background: white;
                    font-weight: bold;
                    border-radius: var(--radius-2);

                    img {
                        margin-right: 0.5rem;
                    }
                }
             }
    
            a {
                align-self: flex-end;
                color: white;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

/* Hovers & active states */

.active {
    border: 5px solid white;
}